dockerimagesave.yourdomain.org {
        reverse_proxy dockerimagesave:6060
        header Access-Control-Allow-Methods "GET, OPTIONS"
        header Access-Control-Allow-Headers "*"
        header Access-Control-Allow-Origin "*"
        log {
                output file /logs/access.log {
                        roll_size 1gb
                        roll_keep 5
                        roll_keep_for 720h
                }
                level INFO
        }
}
