dockerimagesave.yourdomain.org {
        reverse_proxy dockerimagesave:8080
        header Access-Control-Allow-Methods "GET, OPTIONS"
        header Access-Control-Allow-Headers "Content-Type, Accept, Range, Content-Disposition"
        header Access-Control-Allow-Origin "*"
        header X-Content-Type-Options "nosniff"
        header X-Frame-Options "DENY"
        header Referrer-Policy "strict-origin-when-cross-origin"
        log {
                output file /logs/access.log {
                        roll_size 1gb
                        roll_keep 5
                        roll_keep_for 720h
                }
                level INFO
        }
}
