services:
  dockerimagesave:
    image: guamulo/dockerimagesave:v2
    build:
      context: .
    restart: always
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - /root/images:/tmp/docker-images
      - ./config.yaml:/config.yaml
    container_name: dockerimagesave

  caddy:
    image: caddy
    links:
      - dockerimagesave
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./CaddyData:/data/
      - ./logs/:/logs/
